.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 20px;
  color: #878787;
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(2, 100, 149) 41.6%,
    rgb(1, 53, 79) 93.4%
  );
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather .weather-icon {
  width: 70px;
}

.Weather .WeatherTemperature {
  display: inline-block;
  position: relative;
  top: 10px;
}

.Weather .temperature {
  font-weight: 500;
  font-size: 40px;
  color: #ebebeb;
}

.Weather .unit {
  position: relative;
  bottom: 15px;
}

.Weather .search-button {
  position: relative;
  right: 15px;
  background-color: #026393;
  border-color: #026393;
  box-shadow: rgba(0, 0, 0, 0.16);
}

.Weather .search-button:hover {
  cursor: pointer;
  border-color: white;
  transition: all 150ms ease-in-out;
}
